<div class="body-box">
  <div class="title">
    <div class="left-title">
      <h2>FORM LAYOUTS</h2>
    </div>
    <div class="right-title">
      <p><a href="#">Home</a></p>
      <span>/</span>
      <span>Form Layouts</span>
    </div>
  </div>

  <div class="body-content-detail">

  </div>

  <div class="footer-content-box">
    <div class="footer">
      <div class="left-footer">
        <div class="name-page">
          <span>@</span>
          <span><a href="#">Akveo</a></span>
          <span>2018</span>
        </div>
        <div class="group-icon-contact">
          <a href="#"><div class="facebook-contact"><i class="fab fa-facebook-f"></i></div></a>
          <a href="#"><div class="twister-contact"><i class="fab fa-twitter"></i></div></a>
          <a href="#"><div class="google-contact"><i class="fab fa-google-plus-g"></i></div></a>
          <a href="#"><div class="github-contact"><i class="fab fa-github"></i></div></a>
        </div>
      </div>
      <div class="right-footer">
        <span>Created with</span>
        <p><i class="fas fa-heart"></i></p>
      </div>
    </div>
  </div>
</div>