<div class="body-box">
  <div class="title">
    <div class="left-title">
      <h2>DASHBOARD</h2>
    </div>
    <div class="right-title">
      <p><a href="#">Home</a></p>
      <span>/</span>
      <span>Dashboard</span>
    </div>
  </div>
  <div class="header-content-dashboard">
    <div class="body-content">
      <div class="percent-work">
        <i class="fas fa-sync-alt"></i>
      </div>
      <div class="detail-title">
        <p>New Visits</p>
        <p>57,820</p>
      </div>
      <div class="img-content">
        <i class="fas fa-user"></i>
      </div>
    </div>

    <div class="body-content">
      <div class="percent-work">
        <i class="fas fa-sync-alt"></i>
      </div>
      <div class="detail-title">
        <p>New Visits</p>
        <p>57,820</p>
      </div>
      <div class="img-content">
        <i class="fas fa-dollar-sign"></i>
      </div>
    </div>
  </div>

  <div class="body-content-dashboard">
    <div class="body-content">
      <div class="percent-work">
        <i class="fas fa-sync-alt"></i>
      </div>
      <div class="detail-title">
        <p>New Visits</p>
        <p>57,820</p>
      </div>
      <div class="img-content">
        <i class="fas fa-user"></i>
      </div>
    </div>
    <div class="body-content">
      <div class="percent-work">
        <i class="fas fa-sync-alt"></i>
      </div>
      <div class="detail-title">
        <p>New Visits</p>
        <p>57,820</p>
      </div>
      <div class="img-content">
        <i class="fas fa-user"></i>
      </div>
    </div>
  </div>

  <div class="footer-content-dashboard">
    <div class="body-content">
      <div class="percent-work">
        <i class="fas fa-sync-alt"></i>
      </div>
      <div class="detail-title">
        <p>New Visits</p>
        <p>57,820</p>
      </div>
      <div class="img-content">
        <i class="fas fa-user"></i>
      </div>
    </div>
  </div>

  <div class="footer-content-dashboard">
    <div class="body-content">
      <div class="percent-work">
        <i class="fas fa-sync-alt"></i>
      </div>
      <div class="detail-title">
        <p>New Visits</p>
        <p>57,820</p>
      </div>
      <div class="img-content">
        <i class="fas fa-user"></i>
      </div>
    </div>
  </div>

  <div class="footer-content-dashboard">
    <div class="body-content">
      <div class="percent-work">
        <i class="fas fa-sync-alt"></i>
      </div>
      <div class="detail-title">
        <p>New Visits</p>
        <p>57,820</p>
      </div>
      <div class="img-content">
        <i class="fas fa-user"></i>
      </div>
    </div>
  </div>

  <div class="footer-content-dashboard">
    <div class="body-content">
      <div class="percent-work">
        <i class="fas fa-sync-alt"></i>
      </div>
      <div class="detail-title">
        <p>New Visits</p>
        <p>57,820</p>
      </div>
      <div class="img-content">
        <i class="fas fa-user"></i>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="left-footer">
      <div class="name-page">
        <span>@</span>
        <span><a href="#">Akveo</a></span>
        <span>2018</span>
      </div>
      <div class="group-icon-contact">
        <a href="#"><div class="facebook-contact"><i class="fab fa-facebook-f"></i></div></a>
        <a href="#"><div class="twister-contact"><i class="fab fa-twitter"></i></div></a>
        <a href="#"><div class="google-contact"><i class="fab fa-google-plus-g"></i></div></a>
        <a href="#"><div class="github-contact"><i class="fab fa-github"></i></div></a>
      </div>
    </div>
    <div class="right-footer">
      <span>Created with</span>
      <p><i class="fas fa-heart"></i></p>
    </div>
  </div>
</div>